{% extends "base.html" %}

{% block content %}
<h1>Create User</h1>

<form method="POST">
    <div>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" required>
    </div>

    <br>

    <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required>
    </div>

    <br>

    <div>
        <label for="role">Role</label><br>
        <select id="role" name="role" required>
            <option value="">Select role</option>
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
        </select>
    </div>

    <br>

    <button type="submit">Create User</button>
</form>
{% endblock %}