{% extends "base.html" %}

{% block content %}
<h1>All Feedback</h1>

{% if feedback_items %}
<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Created At</th>
    </tr>

    {% for item in feedback_items %}
    <tr>
        <td>{{ item["id"] }}</td>
        <td>{{ item["username"] }}</td>
        <td>{{ item["subject"] }}</td>
        <td>{{ item["message"] }}</td>
        <td>{{ item["created_at"] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No feedback has been submitted yet.</p>
{% endif %}
{% endblock %}